ul {
    list-style-type: none;
}

li {
    padding: 5px;
}

.mail-menu {
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
    justify-content: center;
    align-items: left;
    text-align: left;
    justify-items: left;
}

.compose-btn {
    display: flex;
    width: 120px;
    justify-content: center;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgb(153 149 149);
    border: none;
    font-size: 18px;
    border-radius: 35px;
    padding: 0.6rem;
    cursor: pointer;
}

.mail-inbox,
.mail-starred,
.mail-sent,
.mail-drafts {
    border: none;
    background: none;
    padding: 0.4rem;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: rgb(61, 60, 60);
    margin-left: 10px;
    flex-direction: column;
    width: 100px;

}

.mail-folders {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.mail-folders :hover {
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 0px 30px 30px 0px;
    color: rgb(189, 16, 16);
    font-weight: bold;
}

i {
    margin-right: 5px;
}

@media only screen and (max-width: 570px) {
    .main-menu {
        padding: 1px;
    }

    .mail-menu .mail-folders {
        width: 30%;
    }

    .mail-menu .mail-folders {
        margin: 0;

    }

    .compose-btn {
        width: 100px;
        height: 30px;
        font-size: 14px;
    }

    .mail-inbox,
    .mail-starred,
    .mail-sent,
    .mail-drafts {

        font-size: 10px;
        font-weight: 600;
        text-align: left;
        width: 80px;
    }
}