.mail-preview {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    cursor: pointer;
    background-color: #faf9f9;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    /* flex-flow:inherit; */
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.mail-preview h3 {
    font-size: 16px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-preview:hover {
    border-bottom: 1px solid rgba(151, 150, 150, 0.555);
}

.mail-date {
    text-align: right;
}

.mail-btn-trash,
.mail-star {
    border: none;
    text-align: right;
    cursor: pointer;
    background: none;
}

.mail-btn-trash {
    margin-left: 10px;
}

.mail-star {
    margin-right: 10px;
}

.mail-preview .unread {
    font-weight: bold;
}

.mail-preview .read {
    font-weight: normal;
}