.mail-letter {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 450px;
    height: 450px;
    box-shadow: 2px 2px 2px 2px rgb(153 149 149);
    z-index: 20;
    background-color: white;
    display: block;
    
}

.mail-new-msg {
    background-color: white;
    color: rgb(133, 131, 131);
    text-align: left;

}

.mail-letter input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(211, 211, 211);
    flex-basis: 100%;
}

.msg-title {
    font-size: .875rem;
    font-weight: 600;
    background-color: rgb(237, 246, 252);
    color: rgba(12, 44, 133, 0.918);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.mail-to,
.mail-subj {
    margin-left: 10px;
    justify-content: center;
    display: flex;
    justify-content: left;
    padding-top: 10px;
}

textarea {
    height: 300px;
    width: 400px;
    border: none;
}

.email-send {
    background: #2b7bf1;
    width: 60px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.mail-compose.modal-opened {
   display:none;
}

@media only screen and (max-width: 570px) {

    .mail-letter {
        width: 300px;
        height: 320px;
        font-size: 0.8rem;
        /* margin-bottom: 90px; */
    }

    .msg-title {
        font-size: 0.8rem;
    }

    textarea {
        width: 290px;
        height: 200px;
    }
    .email-send {
        padding: 5px 8px 5px 8px;
    }
}