.form-note-txt {
    justify-content: center;
}



.input-note-txt {
    width: 400px;
    height: 25px;
    background-color: #faf9f9;
    color: rgb(15, 14, 14);
    margin-top: 5px;
    border: 1px solid black;
 
}


