.input-note-todos {

    height: 200px;
}

.input-note-todos-list {
    width: 400px;
    height: 100px;
    background-color: #faf9f9;
    color: rgb(15, 14, 14);
    border: 1px solid black;
    margin-top: 5px;
}