.book-details-container {
    background: var(--color-yellow);
    border-radius: 0px 0px 15px 15px;
}

.book-details {
    flex-direction: row-reverse;
    padding: 25px;
}

.text-book-details {
    padding-left: 15px;
    flex: 1;
}

.img-book-details {
    flex: 1;
}

.book-header{
    font-size: 1.5rem;
}

.details-price.red {
    color: red;
}

.details-price.green {
    color: green;
}

.on-sale-img {
    height: 5px;
    width: 15px;
}

.span-toggle-txt {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}