.book-filter-form{
    background-color: rgb(300, 222, 179);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    height: 300px;
    width: 300px;
    position: relative;
    inset-inline-start: 50%;
    transform: translate(-50%);
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.43);

}

.input-filter{
    height: 30px;
    border-radius: 15px;
    padding-inline-start: 7.5px;
}

.filter-label{
    font-size: 2rem;
}