.book-filter-form {
    /* background-color: #1a0dab; */
    background-color: var(--color-green);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;
    height: 55px;
    position: relative;
    inset-inline-start: 50%;
    transform: translate(-50%);
    /* border: 1px solid black; */
    border-radius: 0px 0px 15px 15px ;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.43);

}

.input-filter {
    height: 30px;
    border-radius: 15px;
    padding-inline-start: 7.5px;
}

.filter-label {
    font-size: 1.25rem;
}