.app-header {
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    padding: 20px 50px;
    background: #f1f1f1;
}

.app-menu {
    display: flex;
    align-items: center;
    /* justify-items: right; */
    /* justify-content:baseline; */
    /* justify-items:flex-end; */
    float: right;
    width: auto;
    text-align: right;
    /* align-content:space-around; */

}

.app-menu a {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 22px;
}

.app-menu nav>*:not(:last-child) {
    margin-inline-end: 10px;
}

.img-logo {
    width: 65px;
    height: 60px;
}

.text-logo {
    vertical-align: -80%;
    color: #34A853;
    padding-left: 2.5px;
}

nav a {
    margin: .5em;
    color: rgb(58, 56, 56);
    font-weight: bold;
}

nav a:hover {
    transform: scale(110%);
}

nav a.active {
    color: #080341;
    background-color: #c9d1cb79;
    border-radius: 15px;
    padding: 11px;
}

@media only screen and (max-width: 570px) {

    .app-menu a {
        font-size: 13px;
        padding: 0;
    }

}